body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fcfcfc;
}

#content {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 1rem;
}

.header-background {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    background-color: #eee;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.623);
}

.header {
    margin: 0 auto;
    height: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header #logo {
    font-size: 1.5rem;
    cursor: pointer;
}

.header nav {
    height: 100%;
}

.header nav ul {
    display: flex;
    height: 100%;
}

.header nav ul li {
    padding: 0 15px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.header nav ul li:hover {
    background-color: #ccc;
}

#banner {
    position: relative; 
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.623);
}

#banner::before {    
    content: "";
    background-image: url('./res/ting-tian-_79ZJS8pV70-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    width: 100%;
    height: 100%;
}

h1 {
    position: relative;
    color: #000;  
    font-size: 4rem;
    line-height: 0.9;
    text-align: center;
}

#banner .mobile-hero {
    display: none;
}

.content-body {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.content-body h3 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.content-body p {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #eee;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#menu {
    padding-top: 100px;
    padding-bottom: 50px;
}

#menu h2 {
    text-align: center;
    font-size: 2rem;
}

.menu-list {
    background-color: #333;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 1px 5px 15px #33333383;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 15px;
    color: #eee;
}

.menu-list li {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 50px 0;
    max-width: 900px;
    margin: 0 auto;
}

.menu-list .item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
    max-width: 400px;
}

.menu-list .item-info h4 {
    font-size: 1.4rem;
}

.menu-list .item-info p {
    line-height: 1.2rem;
}

.menu-list li:nth-child(2n) {
    flex-direction: row-reverse;
}

.menu-list .item-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #eee;
}

.menu-list #item-img-1 {
    background-image: url('./res/ca-creative-bpPTlXWTOvg-unsplash.jpg');
}
.menu-list #item-img-2 {
    background-image: url('./res/david-todd-mccarty-OrTjocYe1b4-unsplash.jpg');
}
.menu-list #item-img-3 {
    background-image: url('./res/farhad-ibrahimzade-HNmcgpzPHag-unsplash.jpg');
}

@media (max-width: 600px) {
    #banner {
        height: 700px;
    }

    #banner .desktop-hero {
        display: none;
    }

    #banner .mobile-hero {
        display: initial;
    }

    footer {
        height: 100px;
    }

    .menu-list {
        margin: 0 10px;
    }

    .menu-list li {
        flex-direction: column;
        width: 100%;
        justify-content: initial;
        align-items: center;
        padding: 30px 0;
        max-width: 900px;
        margin: 0 auto;
    }

    .menu-list li:nth-child(2n) {
        flex-direction: column;
    }

    .menu-list .item-info {
        padding-bottom: 20px;
    }
}